@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(aquamarine, aqua) no-repeat center fixed;
}

#main {
    height: 200px;
    width: 100%;
    font-size: 150px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    #main {
        height: 100px;
        font-size: 100px;
    }
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .inline {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.events {
    padding: 50px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .events {
        padding: 10px;
    }
}

.events > p {
    margin: 0;
    padding: 10px;
    height: 30px;
}


